<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <title>Create Group</title>
</head>
<body>
    <form th:action="@{/group/create}" method="post" th:object="${group}">

        <div th:if="${#fields.hasAnyErrors()}">
            <ul>
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </ul>
        </div>
        <label for="game">Game</label>
        <select id="game" name="game">
            <option th:each="game : ${games}"
                    th:value="${game}" th:text="${game.displayValue}"></option>
        </select>
        <br>
        <label for="playTime">Playtime</label>
        <select id="playTime" name="playTime">
            <option th:each="playtime : ${playtimes}"
                    th:value="${playtime}"
                    th:text="${playtime.displayPlayTime}"></option>
        </select>
        <br>
        <span th:each="style : ${playstyles}">
            <label th:for="${style.name()}" th:text="${style.displayPlayStyle}"></label>
            <input type="radio" name="playStyle" th:id="${style.name()}"
            th:value="${style}">
        </span>
        <br>
        <input type="submit" value="Create">
    </form>
</body>
</html>