<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/account.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/account.js}"></script>
</head>
<body data-bs-theme="dark">
<section>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Username</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${user.username}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${user.email}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="display-2">LoL Profile</p>
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div id="lolprofile-not-exists" th:if="${user.lolStats == null}">
                                <div class="edit-profile mb-3">
                                    <input type="text" class="form-control bg-dark" name="nickname" placeholder="nickname" aria-label="Nickname">
                                    <select class="form-select bg-dark" name="region" aria-label="region">
                                        <option selected value="LA2">LAS</option>
                                        <option value="LA1">LAN</option>
                                        <option value="BR1">Brazil</option>
                                    </select>
                                </div>
                                <button id="save-lol-profile" type="button" class="btn btn-primary">Save</button>
                            </div>
                            <div id="lolprofile-exists" th:if="${user.lolStats != null}">
                                <form>
                                    <fieldset disabled>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" class="bg-dark form-control" th:placeholder="${user.lolStats.nick}" aria-label="nick">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="bg-dark form-control" th:placeholder="${user.lolStats.region}" aria-label="region">
                                            </div>
                                        </div>
                                        <div>
                                            <h6 class="bg-dark display-6">Top three champions played</h6>
                                        </div>
                                        <div class="row">
                                            <div th:each="champion : ${user.lolStats.championNames}" class="col">
                                                <input type="text" class="bg-dark form-control" th:placeholder="${champion}">
                                            </div>
                                        </div>
                                        <div class="row" th:each="queue : ${user.lolStats.lolQueueStats}">
                                            <div class="row">
                                                <input type="text" class="bg-dark form-control" th:placeholder="${queue.queueType.getQueueType()}" aria-label="queueType">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="bg-dark form-control" th:placeholder="${queue.tier + ' ' + queue.division}"
                                                aria-label="division">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="bg-dark form-control" th:placeholder="${queue.lp} + ' LP'" aria-label="lp">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <br>
                                    <button type="button" class="btn btn-danger">Edit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>